body,
html {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  display: block;
}

a {
  background-color: transparent;
}
div {
  display: block;
}

* {
  box-sizing: border-box;
}

.Nav-Wrap {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0);
}

.Nav-NavTopWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Nav-Logo {
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
}

.Nav-LogoImg {
  width: 172px;
}

.Nav-NavWrapPC {
  display: flex;
  margin: 0px 0px 0px 70px;
}

.Nav-NavItem {
  margin: 0px;
  padding: 15px 10px 15px 15px;
  cursor: pointer;
  font-size: 14px;
  color: rgb(38, 38, 38);
  color: inherit;
  text-decoration: none;
}

.Nav-NavTopRight {
  display: flex;
  margin: auto;
  align-items: center;
}

.Nav-SubmitWrap {
  display: flex;
}

.Nav-InquiryBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 136px;
  height: 45px;
  color: rgb(255, 74, 91);
  font-size: 16px;
  font-weight: 700;
  border-radius: 100px;
  border: 1px solid rgb(255, 73, 91);
}

.Nav-SubmitBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  width: 136px;
  height: 45px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 700;
  background-color: rgb(255, 74, 91);
  border-radius: 100px;
  border: 1px solid rgb(255, 73, 91);
  cursor: pointer;
}
.Pages-Wrap {
  padding: 0px 0px 50px;
  width: 100%;
}
.Pages-BannerWrap {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  color: rgb(170, 170, 170);
  font-size: 12px;
  background: linear-gradient(
    135deg,
    rgb(252, 251, 251) 0%,
    rgb(255, 246, 236) 60.46%,
    rgb(255, 214, 220) 100%
  );
}
.Pages-BanerContentWrap {
  padding: 120px 16px 0px;
}
.Pages-BannerTitle {
  margin: 0px;
  color: rgb(34, 34, 34);
}
.Pages-BannerDescription {
  margin: 16px 0px 32px;
  color: rgb(34, 34, 34);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}
.Pages-BannerDescription > span {
  font-size: 17px;
  font-weight: 700;
}
.Pages-BannerMailImgWrap {
  margin: 0px 20px 0px auto;
  width: 65%;
}
.Pages-SectionWrap {
  padding: 48px 0px 20px;
}
.Pages-TitleWrap {
  position: relative;
  margin-left: 16px;
}
.AfterTitle {
  margin: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 150%;
  color: rgb(38, 38, 38);
}

@media (min-width: 1280px) {
  .Nav-NavTopWrap {
    padding: 24px 0px;
    margin: 0px auto;
    width: 1200px;
  }
  .Nav-SubmitWrap {
    display: flex;
  }
  .Nav-NavItem:first-child {
    padding: 15px 20px 15px 0px;
  }
  .Nav-NavItem {
    font-size: 16px;
  }
  .Pages-Wrap {
    padding: 0px 0px 150px;
  }
  .Pages-BannerWrap {
    overflow: hidden;
  }
  .Pages-BannerContentWrap {
    position: relative;
    margin: 0px auto;
    padding: 250px 0px 238px;
    width: 1200px;
  }
  .Pages-BannerTitle {
    font-size: 60px;
  }
  .Pages-BannerDescription {
    margin: 32px 0px 0px;
    font-size: 20px;
  }
  .Pages-BannerDescription > span {
    font-size: 22px;
  }
  .Pages-BannerMailImgWrap {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 540px;
  }
  .Pages-BannerMailImg {
    display: block;
    vertical-align: top;
    width: 100%;
    user-select: none;
  }
  .Pages-SectionWrap {
    padding: 0px;
  }
  .Pages-SectionContentWrap1 {
    position: relative;
    margin: 0px auto;
    padding: 180px 0px 120px;
    width: 1200px;
  }
  .Pages-TitleWrap {
    margin-left: 0px;
  }
  .AfterTitle {
    font-size: 40px;
  }
}
