body,
html {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  display: block;
}

a {
  background-color: transparent;
}
div {
  display: block;
}

* {
  box-sizing: border-box;
}

.Nav-Wrap {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 100;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.024) 0px 10px 15px;
}

.Nav-NavTopWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Nav-Logo {
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
}

.Nav-LogoImg {
  width: 172px;
}

.Nav-NavWrapPC {
  display: none;
}
.Nav-NavWrap {
  display: flex;
  width: 100%;
  padding-left: 5px;
}

.Nav-NavItem {
  margin: 0px;
  padding: 15px 10px 15px 15px;
  cursor: pointer;
  font-size: 14px;
  color: rgb(38, 38, 38);
  color: inherit;
  text-decoration: none;
}

.Nav-NavTopRight {
  display: none;
}

.Nav-SubmitWrap {
  display: flex;
}

.Nav-InquiryBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 136px;
  height: 45px;
  color: rgb(255, 74, 91);
  font-size: 16px;
  font-weight: 700;
  border-radius: 100px;
  border: 1px solid rgb(255, 73, 91);
}

.Nav-SubmitBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  width: 136px;
  height: 45px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 700;
  background-color: rgb(255, 74, 91);
  border-radius: 100px;
  border: 1px solid rgb(255, 73, 91);
  cursor: pointer;
}
.review-Wrap {
  position: relative;
  padding: 100px 0px 0px;
  width: 100%;
  min-height: 100vh;
}
.review-TitleWrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px 20px 0px 8px;
}
.Title {
  margin: 0px;
  font-weight: 600;
}
.review-PostEditIconWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  background-color: rgb(255, 100, 118);
  border-radius: 8px;
  cursor: pointer;
}
.review-PostEditText {
  margin: 3px 0px 0px 5px;
  color: rgb(255, 255, 255);
  font-size: 12px;
}
.review-PostItemsWrap {
  display: flex;
  flex-direction: column;
  margin: 20px 0px 0px;
  padding: 0px 0px 50px;
}
.review-PostItemWrap {
  display: block;
  padding: 15px 16px 10px;
  border-bottom: 2px solid rgb(246, 246, 246);
  cursor: pointer;
}
.review-PostItemTitle {
  font-size: 14px;
  font-weight: 550;
  margin: 0px;
  line-height: 16px;
  color: rgb(51, 51, 51);
}
.review-PostItemDescription {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px 0px;
}
.review-PostItemNickname {
  margin: 0px;
  font-size: 12px;
  font-weight: 600;
  color: rgb(170, 170, 170);
}
.review-PostItemDatetime {
  font-size: 11px;
  font-weight: 500;
  color: rgb(170, 170, 170);
}

@media (min-width: 1280px) {
  .Nav-NavTopWrap {
    padding: 24px 0px;
    margin: 0px auto;
    width: 1200px;
  }
  .Nav-NavTopRight {
    display: flex;
    margin: auto;
    align-items: center;
  }
  .Nav-SubmitWrap {
    display: flex;
  }
  .Nav-NavItem:first-child {
    padding: 15px 20px 15px 0px;
  }
  .Nav-NavItem {
    font-size: 16px;
  }
  .Nav-NavWrapPC {
    display: flex;
    margin: 0px 70px 0px 70px;
  }

  .Nav-NavWrap {
    display: none;
  }
  .review-Wrap {
    padding: 100px 0px 150px;
    margin: 0px auto;
    max-width: 1200px;
  }
  .review-TitleWrap {
    margin: 0px 0px 70px 0px;
  }
  .Title {
    font-size: 40px;
  }
  .review-PostItemsWrap {
    margin: 40px 0px 0px;
  }
  .review-PostItemWrap {
    padding: 10px 16px 20px;
  }
  .review-PostItemTitle {
    font-size: 20px;
    font-weight: 600;
  }
  .review-PostItemNickname {
    margin: 5px 0px 0px;
    font-size: 16px;
  }
  .review-PostItemDatetime {
    margin: 0px;
    font-size: 16px;
  }
}
